<style>
	iframe {
		width: 100%;
		height: 800px;
	}

	.slider {
		justify-content: space-between;
		display: flex;
	}

	.slider-card {
		width: 53%;
	}

	.slider-card .table {
		overflow-y: scroll;
		max-height: 400px;
	}

	.card-card {
		width: 45%;
	}
</style>
<main class="content">
	<div class="container-fluid p-0">
		<div class="mb-3">
			<h1 class="h3 d-inline align-middle">Asosiy sahifaga surat qo'shish</h1>
		</div>
		<div class="row">
			<div class="slider">

				<div class="card card-card">
					<div class="card-header">
						<h5 class="card-title mb-0">Ma'lumotlarni to'ldiring</h5>
					</div>
					<form action="/admin-slider?_csrf={{csrfToken}}" method="post" enctype="multipart/form-data">
						<div class="card-body">
							<label for="label" class="form-label">Surat mavsuzini kriting:</label>
							<input type="text" name="slider_title" class="form-control" placeholder="Mavzu">
							<label for="label" class="form-label pt-3">Suratni kiriting:</label>
							<input type="file" name="slider_file" class="form-control" placeholder="Lavozim"
								accept=".jpg, .jpeg, .png">
							<label for="label" class="form-label pt-3">Slider ma'lumotini kiritng:</label>
							<textarea name="slider_data" class="form-control " placeholder="Slider ma'lumotini kiritng"
								value="998"></textarea>
							<br>
							<button type="submit" class="btn btn-primary ">Qo'shish</button>
						</div>
					</form>
				</div>

				<div class="card slider-card">
					<div class="card-header">
						<h5 class="card-title mb-0">Mavjud yangiliklar</h5>
					</div>
					{{#if sliderData}}

					<div class="table">
						<table class="table table-hover my-0">
							<thead>
								<tr>
									<th>Mavzu</th>
									<th class="d-none d-xl-table-cell">Ma'lumot</th>
									<th class="d-none d-xl-table-cell">Surat </th>
									<th class="d-none d-xl-table-cell">Sana </th>
									<th class="d-none d-md-table-cell">O'chirish</th>
								</tr>
							</thead>
							<tbody>
								{{#each sliderData}}
								<tr>
									<td class="d-none d-xl-table-cell">{{slider_title}}</td>
									<td class="d-none d-xl-table-cell">{{slider_data}}</td>
									<td class="d-none d-xl-table-cell"><a href="/uploads/slider/{{slider_file}}">Ko'rish <i
												class="fa fa-eye"></i> </a></td>
									<td class="d-none d-xl-table-cell">{{datatime}}</td>
									<td class="d-none d-md-table-cell text-center cursor-pointer">
										<form action="/admin/delete" method="get">
											<input type="hidden" name="method" value="Slider">
											<input type="hidden" name="url" value="admin-home">
											<input type="hidden" name="_id" value="{{_id}}">
											<button class="btn btn-danger "><i class="fa fa-trash"></i></button>
										</form>
									</td>
								</tr>
								{{/each}}
							</tbody>
						</table>
					</div>
					{{else}}
					<h3 class="text-center text-danger p-5">Yangiliklar mavjud emas</h3>
					{{/if}}
				</div>
			</div>
		</div>
		<hr>
		<div class="mb-3">
			<h1 class="h3 d-inline align-middle">Ayni vaqtdagi holat:</h1>
		</div>
		<iframe src="http://94.241.168.135:8050" title="Sirdaryo yoshlar texnoparki"></iframe>


	</div>
</main>